---
import Shadowbox from "../../components/Shadowbox.astro";
import TitleLockup from "../../components/TitleLockup.astro";
import Layout from "../../layouts/Layout.astro";
import getTags from "../../lib/getTags";

const tags = await getTags();
---

<Layout title="Tags">
  <Shadowbox>
    <TitleLockup Heading="h1" title="Tags" />
    <ul>
      {
        tags.map((t) => (
          <li>
            <a href={`/tags/${t.name}`}>
              {t.name} ({t.count})
            </a>
          </li>
        ))
      }
    </ul>
  </Shadowbox>
</Layout>
