---
import Shadowbox from "../components/Shadowbox.astro";
import TitleLockup from "../components/TitleLockup.astro";
import Layout from "../layouts/Layout.astro";
import getPosts from "../lib/getPosts";
import type { Post } from "../schemas/post";

// ugh, this works in dev but not in prod, which always gives "404/" for this:
//const sadslug = new URL(Astro.request.url).pathname.slice(1);
// I finally gave up and am doing everything in the client-side script instead.

// Fetch the full list of posts
const posts = await getPosts().then((posts: Post[]) => posts.map(p => ({
  slug: p.slug,
  title: p.title,
  excerpt: p.excerpt,  
})));
---

<Layout title="404 Not Found!">
  <Shadowbox>
    <TitleLockup Heading="h1" title="404 Not Found!" />
<!-- embarrassed bee image from beeminder.com but maybe not canonical link:
https://www.beeminder.com/assets/sadbee-e89491e7c1ea7c8568c8cdf0d19ff41acc079cc17f15277bed6fcf0b0928255d.png
-->
    <p>Sad trombone. Here are things you might've meant:</p>
    <ul id="nearmisses" />
  </Shadowbox>
</Layout>

<script define:vars={{posts}}>
  window.posts = posts;
</script>

<script  src="../scripts/404.ts"></script>