---
import parseMarkdown from "../lib/parseMarkdown";

export async function getStaticPaths() {
  const url = "http://padm.us/beemblog-akrasia/export/txt";
  const response = await fetch(url);
  const markdown = await response.text();
  console.log(markdown);
  return [
    {
      params: {
        slug: "akrasia",
      },
      props: parseMarkdown(markdown),
    },
  ];
}

const { slug } = Astro.params;
const { content, title } = Astro.props;
---

<div>
  <h1>{title}</h1>
  <a href=`/${slug}`>Permalink</a>
  <div set:html={content} />
</div>
