---
import Posts from '../components/Posts.astro';
import Layout from '../layouts/Layout.astro';
import getPosts from '../lib/getPosts';

const posts = await getPosts();
---

<Layout title="Home">
	  <Posts posts={posts.slice(0,6)} />
	  <a href='/page/2'>« Older Entries</a>
</Layout>
