---
import getArchives from "../lib/getArchives";
import Shadowbox from "./Shadowbox.astro";
import Typography from "./Typography.astro";

function getSortedValues<T>(obj: Record<string, T>): T[] {
  return Object.entries(obj)
    .sort((a, b) => +b[0] - +a[0])
    .map(([, v]) => v);
}

const archives = await getArchives();
const years = getSortedValues(archives);
---

<Shadowbox>
  <Typography sans>
    <h3>Archives</h3>
    <ul>
      {
        years.map((y) => (
          <li>
            <a href={`/${y.label}`}>
              {y.label} ({y.post_count})
            </a>
          </li>
        ))
      }
    </ul>
  </Typography>
</Shadowbox>

<style>
  h3 {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
  }
</style>
