---
import getArchives from "../lib/getArchives";
import Shadowbox from "./Shadowbox.astro";
import Typography from "./Typography.astro";
import { strings } from "../i18n";

const years = await getArchives();
---

<Shadowbox>
  <Typography sans>
    <h3>{strings.archives.heading}</h3>
    <ul>
      {
        years.map((y) => (
          <li>
            <a href={`/${y.label}`}>
              {y.label} (<span class="post-count">{y.post_count}</span>)
            </a>
          </li>
        ))
      }
    </ul>
  </Typography>
</Shadowbox>

<style>
  h3 {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
  }
</style>
