---
interface Props {
  url: string;
  id: string;
}

const { url, id } = Astro.props;
---

<div id="disqus_thread" data-url={url} data-identifier={id}></div>

<script is:inline>
  var disqus_config = function () {
    const thread = document.getElementById("disqus_thread");
    if (!thread) throw new Error("could not find disqus thread");
    this.page.url = thread.dataset.url;
    this.page.identifier = thread.dataset.identifier;
  };

  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement("script");
    s.src = "https://blog.beeminder.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
