<div class="footer">
  Built with ❤️ by <a href="https://pinepeakdigital.com">Pine Peak Digital</a>.
</div>

<style>
  .footer {
    background-color: var(--black);
    color: white;
    padding: var(--gap);
    font-size: 0.75em;
    text-align: center;
  }

  a {
    color: var(--secondary);
  }
</style>
