<div class="header">
  <a href="https://beeminder.com">« Beeminder home</a>
  <h2>
    <a href="/">Beeminder Blog</a>
  </h2>
</div>

<style>
  .header {
    background-color: #ffcb06;
    padding: var(--gap);
  }

  h2 {
    margin: 0;
  }
</style>
