<div class="header">
  <h2>
    <a href="/">Beeminder Blog</a>
  </h2>
  <ul class="nav">
    <li><a href="https://beeminder.com">Beeminder Home</a></li>
    <li><a href="/">Blog Home</a></li>
  </ul>
</div>

<style>
  .header {
    background-color: #ffcb06;
    padding: var(--gap);
  }
  .nav {
    padding-left: 0;
  }
  .nav li {
    display: inline-block;
    margin-right: 1em;
  }
</style>
