---
interface Props {
  padding?: number;
  class?: string | undefined;
}

const { padding = 1, class: className } = Astro.props;
---

<div
  class:list={["shadowbox", className]}
  style={{
    "--gap-multiplier": padding,
  }}
>
  <slot />
</div>

<style>
  .shadowbox {
    background-color: white;
    box-shadow: 0 0 6px #ccc;
    padding: calc(var(--gap-1) * var(--gap-multiplier));
    margin-bottom: var(--gap-1);
  }
</style>
