---
import getTags from "../lib/getTags";
import Archives from "./Archives.astro";
import Shadowbox from "./Shadowbox.astro";

const rawTags = await getTags();
const tags = Object.values(rawTags);

tags.sort((a, b) => {
  return b.count - a.count;
});

const sha: string | undefined = import.meta.env.RENDER_GIT_COMMIT;
---

<div>
  <Shadowbox>
    <h3>About</h3>
    <p>
      <a href="http://beeminder.com">Beeminder</a> is goal-tracking with teeth. We
      plot your progress on a graph with a Bright Red Line (formerly <i
        >Yellow Brick Road</i
      >). If your datapoints cross that line, we take your money.
    </p>
    <p>
      The Beeminder blog is a hodgepodge of productivity nerdery and behavioral
      economics written by the founders and various friends.
    </p>
  </Shadowbox>
  <Shadowbox>
    <h3>Search</h3>
    <form action="https://duckduckgo.com">
      <input name="q" placeholder="Enter your search" />
      <input type="hidden" name="sites" value="blog.beeminder.com" />
    </form>
  </Shadowbox>
  <Archives />
  <Shadowbox>
    <h3>Eating Our Own Dog Food</h3>
    <a href="http://beeminder.com/meta/blog">
      <img
        alt="dogfood graph"
        title="The reason we still have a blog"
        src="https://www.beeminder.com/meta/blog/graph?style=thumb"
        width="160"
      />
    </a>
  </Shadowbox>
  <Shadowbox>
    <h3>Start Here</h3>
    <p>
      Does Beeminder sound super crazypants? Just confusing? One of the first
      things you may want to check out is our <a
        href="http://blog.beeminder.com/newbees"
        title="Also includes a link to our adorable Explain Like I'm 5 video"
        >User's Guide for New Bees</a
      >. Check out other posts we're most proud of by clicking the "best-of" tag
      below. If you're a glutton for honey, the "bee-all" tag has everything we
      still think is worth reading. Other good ones are the "rationality" and
      "science" tags, if you're into that.
    </p>
  </Shadowbox>
  <Shadowbox>
    <h3>Tags</h3>
    <ul>
      {
        tags.slice(0, 20).map((t) => (
          <li>
            <a href={`/tags/${t.name}`}>
              {t.name} ({t.count})
            </a>
          </li>
        ))
      }
      <li><a href="/tags">...and {tags.length - 20} more tags</a></li>
    </ul>
  </Shadowbox>
  <Shadowbox>
    <h3>Beeminder Community</h3>
    <p>
      Most of the action is in the <a
        href="http://forum.beeminder.com"
        title="It's a Discourse.org forum; it's super slick">Beeminder forum</a
      >. Or if you want to be slightly social without risking getting distracted
      arguing on the internet, you can do pomodoros online in sync with other
      Beeminder users and productivity nerds in <a
        href="https://complice.co/room/beeminder"
        title="Not to brag but we're close personal friends with the founder of Complice"
        >the Beeminder coworking room on Complice</a
      >.
    </p>
  </Shadowbox>
  <Shadowbox>
    <h3>Akrasia</h3>
    <p>
      Akrasia (ancient Greek ἀκρασία, "lacking command over oneself"; adjective:
      "akratic") is the state of acting against one's better judgment, not doing
      what one genuinely wants to do. It encompasses procrastination, lack of
      self-control, lack of follow-through, and any kind of addictive behavior.
    </p>
    <p>
      <a href="http://en.wikipedia.org/wiki/Akrasia"
        >wikipedia.org/wiki/Akrasia</a
      >
    </p>
  </Shadowbox>
  {
    sha && (
      <a class="sha" href={`https://github.com/beeminder/blog/commit/${sha}`}>
        {sha.slice(0, 7)}
      </a>
    )
  }
</div>

<style>
  h3 {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
  }

  .sha {
    font-size: 0.8em;
    opacity: 0.5;
    display: block;
    text-align: right;
  }
</style>
