---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div>
  Tags: <ul>
    {
      tags.map((t) => (
        <li>
          <a href={`/tags/${t}`}>{t}</a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  ul {
    padding: 0;
    margin: 0;
    display: inline;
  }
  li {
    display: inline-flex;
  }
  li:after {
    content: ",\a0";
  }
  li:last-child:after {
    content: "";
  }
</style>
