---
interface Props {
  sans?: boolean;
  small?: boolean;
  class?: string;
}

const { sans = false, small = false, class: className } = Astro.props;
const lineHeight = sans ? "1.3em" : "1.5em";
---

<div class="typography" class:list={[{ sans, small }, className]} style={{"--line-height": lineHeight}}>
  <div class="inner"><slot /></div>
</div>

<style>
  .typography {
    container-type: inline-size;
  }
  .inner {
    font-size: 0.9rem;
  }
  .sans {
    --font-family: sans-serif;
  }
  .inner :global(h1) {
    font-size: 2em;
  }
  .inner :global(h2) {
    font-size: 1.75em;
  }
  .inner :global(h3) {
    font-size: 1.5em;
  }
  .inner :global(h4) {
    font-size: 1.25em;
  }
  .inner :global(h5) {
    font-size: 1.1em;
  }
  .inner :global(p) {
    line-height: var(--line-height);
  } 
  .inner :global(li) {
    line-height: var(--line-height);
  }
  .inner :global(code) {
    display: block;
    overflow: scroll;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5;
    padding: 1em;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  @container (min-width: 500px) {
    .inner {
      font-size: 1.1rem;
    }
    .inner :global(p), .inner :global(li) {
      text-align: justify;
    }
    .small {
      font-size: 0.9em;
    }
  }
</style>
