---
interface Props {
  sans?: boolean;
  small?: boolean;
}

const { sans = false, small = false } = Astro.props;
---

<div class="typography" class:list={{ sans, small }}>
  <slot />
</div>

<style>
  .typography {
    container-type: inline-size;
    font-size: 0.9rem;
  }

  .sans {
    --font-family: sans-serif;
  }

  @container (min-width: 500px) {
    .typography :global(p) {
      text-align: justify;
      font-size: 1.1rem;
    }
    .small :global(p) {
      font-size: 0.9rem;
    }
  }
</style>
