---
import Sidebar from "../components/Sidebar.astro";

export interface Props {
  title: string;
  redirect?: string;
}

const { title, redirect } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title} | Beeminder Blog</title>

    {redirect && <meta http-equiv="refresh" content={`0; url=${redirect}`} />}
  </head>
  <body>
    <h2>
      <a href="/">Beeminder Blog</a>
    </h2>
    <ul class="nav">
      <li><a href="https://beeminder.com">Beeminder Home</a></li>
      <li><a href="/">Blog Home</a></li>
    </ul>
    <div class="content">
      <div><slot /></div>
      <div><Sidebar /></div>
    </div>
  </body>
</html>

<style>
  .nav {
    padding-left: 0;
  }
  .nav li {
    display: inline-block;
    margin-right: 1em;
  }
  .content {
    display: flex;
  }
  .content > *:last-child {
    flex: 0 0 300px;
    padding-left: 1em;
  }
</style>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .pullquote {
    float: right;
    width: 300px;
    border: 1px solid gray;
    padding: 1em;
    margin-left: 1em;
  }
</style>
